dj-database-url==0.3.0
Django==1.7.7
django-postgrespool==0.3.0
django-toolbelt==0.0.1
gunicorn==19.3.0
httplib2==0.9
psycopg2==2.6
python-dateutil==1.5
python-openid==2.2.5
requests==2.5.1
static3==0.5.1
virtualenv==1.11.6
whitenoise==1.0.6
wsgiref==0.1.2