body {
	background:#f7f7f7;
	height:100%;
	width: 100%;
	font-family: 'Lucida Grande', sans-serif;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div {
	overflow: scroll;
}
#overlay,#login {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.85;
	z-index: 10;
	text-align: center;
}
#login {
	background: #f7f7f7;
	opacity: 1;
}
#loginLoader {
	position: absolute;
	top:50%;
	left:50%;
	width:100px;
	line-height:50px;
	margin-top:-25px;
	margin-left:-50px;
	z-index: 20;
}
#wrapper {
	position: absolute;
	width:100%;
	text-align: middle;
	height:200px;
	bottom: 0;
	background: #f7f7f7;
}
#mainName {
	display: none;
	position: relative;
	color:white;
	font-size:5em;
	height: 100vh;
	min-height: 500px;
}
#mainName > #PYS {
	margin-top:10vh;
}
#justification {
	font-size:0.25em;
	position: absolute;
	left:0;
	bottom:25px;
	width:100%;
	color: #7D26CD;
}
#loader {
	z-index: 8;
	position: absolute;
	left:50%;
	top:40%;
	width:300px;
	margin-left:-150px;
	text-align: center;
}
#uploadQuestion {
	display: none;
	position: absolute;
	top:10%;
	left:50%;
	padding:20px;
	width:800px; /* + 40px for padding */
	margin-left:-420px;
	font-size:1.5em;
	text-align: center;
	background: #f2f2f2;
	border-radius: 5px;
	overflow: scroll;
	z-index: 11;
}
#uploadQuestion > form > div {
	line-height: 40px;
}

#facebookButton {
	position: absolute;
	top:25px;
	left:50%;
	cursor: pointer;
	background:#3B5998;
	color:#f7f7f7;
	width:600px;
	margin-left:-300px;
	line-height:2em;
	font-size:0.5em;
	border-radius: 5px;
	box-shadow: 0 4px 10px -5px #333;
	transition: all .2s ease-in-out;

}
#facebookButton:hover {
	transform: scale(1.1);
}
#data {
	display: none;
	position: absolute;
	bottom:50px;
	left:50vw;
	width:88vw;
	margin-left:-44vw;
	/* account for minimize and toolbars and borders */
	height:calc(100vh - 190px);
	text-align: center;
	font-size:2em;
	z-index: 4;
}
#freqData {
	display: none;
	height: 100%;
	width: 100%;
}
#balls {
	display: none;
}
#balls > canvas {
	max-width: 100%;
}
#map {
	display: none;
	height:100%;
	width:100%;
}
#genderData {
	display: none;
	height: 80%;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#genderCanvas {
	width: 100%;
	height: 100%;
}
#ageData {
	display: none;
	height:80%;
	width:100%;
	position: absolute;
	bottom: 0;
}
#music {
	display: none;
	height:100%;
	width:100%;
}
#allDone {
	display: none;
	position: absolute;
	top:50vh;
	left:50vw;
	width:60vw;
	margin-left:-30vw;
	height:70vh;
	margin-top:-35vh;
	text-align: center;
	font-size:2em;
	border: solid lightgrey 1px;
	box-shadow: 0 1px 5px lightgrey;
	background: white;
	box-sizing:border-box; /* auto adjust size for padding */
	padding:50px;
}
#allDone > div {
	margin-top:40px;
	margin-bottom:40px;
}
#pollSort {
	display: none;
	position: fixed;
	top:50px;
	left:0;
	box-sizing:border-box;
	width:50vw;
	line-height:50px;
	text-align: center;
	z-index: 8;
	color: white;
	background: rgba(125,38,205,0.8);
	border-bottom-right-radius:5px;
}
#pollSort > ul > li {
	position: relative;
	width:50%;
	cursor: pointer;
}
#pollSort > ul > li:hover {
	text-decoration: underline;
}
#pollSort > ul > li:first-child {
	float:right;
}
#pollSort > ul > li:nth-child(2): {
	float: left;
}
.fa-sort-asc {
	position: absolute;
	top:1em;
	right:1em;
}
.fa-sort-desc {
	position: absolute;
	bottom:1em;
	right:1em;
}
#qLoader {
	margin-top:25px;
	display: none;
}
#myQs {
	text-align: center;
	position: absolute;
	left:0;
	top:50px;
	padding: 60px 10px 25px 10px;
	width:50vw;
	height:calc(100vh - 100px);
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#myQs > ul > li {
	padding:10px;
	padding: 25px 10px 25px 10px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 5px;
	background: white;
	box-shadow: 0 1px 5px lightgrey;
	cursor: default;
	/*
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	*/
	cursor: pointer;
}
#piePreview {
	display: none;
	text-align: center;
	position: absolute;
	right:0;
	top:50px;
	padding-top:25px;
	padding-bottom: 25px;
	padding: 25px 10px 25px 10px;
	width:50vw;
	height:calc(100vh - 100px);
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#7D26CD;
}
#cardHeader {
	position: absolute;
	width:100%;
	padding-left:5px;
	padding-right:5px;
	text-align: left;
	box-sizing: border-box;
	font-size:0.75em;
	height:30px;
}
#qLoc {
	font-size:0.8em;
	cursor: default;
	opacity: 0.5;
}
.fa-map-marker {
	color:#DD0048;
}
#qLoc:hover {
	opacity: 1;
}
#flag {
	float:right;
	opacity: 0.25;
	cursor: pointer;
}
#flag:hover {
	opacity: 1;
	color:#7D26CD;
}
#flagModal {
	display: none;
	position: absolute;
	top:10%;
	left:50%;
	padding:20px;
	width:800px; /* + 40px for padding */
	margin-left:-420px;
	font-size:1.5em;
	text-align: center;
	background: white;
	border-radius: 5px;
	z-index: 30;
}
#flagModal > h2 {
	margin-bottom:100px;
}
#flagModal > div {
	border: solid #7D26CD 1px;
	border-radius: 5px;
	padding: 10px;
	color: #7D26CD;
	cursor: pointer;
}
#flagModal > div:hover {
	background: #7D26CD;
	color: white;
}
#card {
	position: absolute;
	top:50vh;
	left:50vw;
	width:60vw;
	margin-left:-30vw;
	height:70vh;
	margin-top:-35vh;
	text-align: center;
	font-size:2em;
	border: solid lightgrey 1px;
	box-shadow: 0 1px 5px lightgrey;
	background: white;
	z-index: 1;
}
#card > ul {
	height:100%;
	display: table;
	width:100%;
}
#card > ul > li {
	display: table-row;
	vertical-align: center;
	cursor: pointer;
}
#card > ul > li > span {
	display: table-cell;
	vertical-align: middle;
}

#liQuestion > span{
	padding-top:18px !important;
	color:#7D26CD;
	cursor: default;
}
.liAnswer  {
}
.liAnswer:hover {
	background: #7D26CD;
	color:white;
}

.answer {
	color:black;
	height:20%;
	line-height: 100%;
}
#question {
	padding:1em;
	border: solid red 1px;
	font-size: 1.25em;
	color:#7D26CD;
}
#card > .answer:hover {
	cursor: pointer;
	background: #7D26CD;
	color: white;
}

input {
	height:50px;
	font-size: 0.75em;
	width:100%;
}
input[type=text] {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	padding:10px;
	height:50px;
	outline: none;
	padding-left: 10px;
	border: 1px solid #DDDDDD;
}

input:focus {
	box-shadow: 0 0 5px #7D26CD;
	border: 1px solid #7D26CD;
}
input[type=number] {
	outline:none;
}

input[type=submit] {
	border:solid #7D26CD 1px;
	background: white;
	border-radius: 3px;
	color:#7D26CD;
	display: none;
}
input[type=submit]:hover {
	background:#7D26CD;
	color:white;
	cursor: pointer;
}
.answer.uploadField {
	display: none;
}
.uploadField {
	margin-bottom:10px;
}
#numAnsSelect {
	height:50px;
	cursor: pointer;
}
#numberAnsSelect {
	width:2em;
	text-align: center;
	display: none;
}
td {
	background: white;
	vertical-align: middle;
}
td:hover {
	background:#7D26CD;
	color:white;
}
.stuckBar {
	position: fixed;
	left:0;
	font-size:2em;
	width:100%;
	text-align: center;
}
#navbar{
	display: table;
	position: fixed;
	top:0;
	background:white;
	box-shadow: 0 4px 5px -5px grey;
	color:black;
	font-size:1.25em;
	z-index: 9;
}
#navbar > div {
	display: table-cell;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: middle;
	height:50px;
}

#userSelections {
	position: absolute;
	top:50px;
	right:0;
	width:inherit;
	text-align: center;
	background: white;
	font-size: 1.5em;
	box-shadow: 3px 3px 3px -3px #999, 3px 3px 3px -3px #999, -3px 3px 3px -3px #999;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border:solid #7D26CD 1px;
	z-index: 1000;
}
#userSelections > ul {
	position: relative;
	display: none;
	z-index: 1000;

}
#userSelections > ul > li {
	padding-top:10px;
	padding-bottom:10px;
	z-index: 1000;
}
#userSelections > ul > li:hover {
	background:#D8BEF0;
}
/* progress bar */
progress {
	display: none !important;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	background: white;
	z-index: 12;
}
progress[value]::-webkit-progress-value {
	background-image:
	-webkit-linear-gradient(-45deg, 
		transparent 33%, rgba(0, 0, 0, .1) 33%, 
		rgba(0,0, 0, .1) 66%, transparent 66%),
	-webkit-linear-gradient(top, 
		rgba(255, 255, 255, .25), 
		rgba(0, 0, 0, .25)),
	-webkit-linear-gradient(left, #09c, #f44);

	background-size: 50px 20px, 100% 100%, 100% 100%;

	/* animate */
	-webkit-animation: animate-stripes 2s linear infinite;
	animation: animate-stripes 2s linear infinite;
}

progress[value]::-moz-progress-bar 
{ 
	background-image:
	-moz-linear-gradient(
		135deg, 
		transparent 33%, 
		rgba(0, 0, 0, 0.1) 33%, 
		rgba(0, 0, 0, 0.1) 66%, 
		transparent 66% 
		),
	-moz-linear-gradient(
		top, 
		rgba(255, 255, 255, 0.25), 
		rgba(0, 0, 0, 0.25)
		),
	-moz-linear-gradient(
		left, 
		#09c, 
		#f44
		);

	border-radius: 2px; 
	background-size: 50px 20px, 100% 100%, 100% 100%; 
}

@-webkit-keyframes animate-stripes {
	100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
	100% { background-position: -100px 0px; }
}

#allow {
	display: none;
	position: absolute;
	z-index: 20;
	line-height: 50px;
	border-radius: 5px;
	font-size: 3em;
	color:#DD0048;
	width:80%;
	left:10%;
	top:30%;
	text-align: center;
}

#logo {
	text-align: left;
	width:20%;
}
#logo > div {
	vertical-align: middle;
	display: inline-block;
	border-radius: 100%;
	margin-left:-5px;
	background: #7D26CD;
}
#big {
	height: 30px;
	width: 30px;
}
#med {
	height: 20px;
	width: 20px;
}
#small {
	height: 10px;
	width: 10px;
}
#locToggle {
	text-align: middle;
}
#profileHeader {
	color: #7D26CD;
}
#near,#asked {
	display: inline-block;
	border:solid #7D26CD 1px;
	color:#7D26CD;
	width:30%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right:none;
	line-height: 35px;
	cursor: pointer;
	color:#7D26CD;
}
#far,#answered {
	display: inline-block;
	border:solid #7D26CD 1px;
	color:#7D26CD;
	width:30%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: none;
	line-height: 35px;
	cursor: pointer;
}
#near:hover,#asked:hover {
	background: #7D26CD;
	color: white;
}
#far:hover,#answered:hover {
	background: #7D26CD;
	color: white;
}
#userInfo {
	width:20%;
	text-align: right;
	cursor: pointer;
}
#userInfo:hover #userSelections > ul{
	display: block;
}

#userInfo > div {
	display: inline-block;
}
#userInfo > img {
	height:40px;
	width:40px;
	vertical-align: middle;
	border-radius: 5px;
	box-shadow: 0 1px 0 lightgrey;
}
#userInfo > #myName {
	margin: 0px 10px 0px 10px;
}
#userInfo:hover .fa-bookmark {
	display: inline-block !important;
}
#userInfo:hover .fa-bookmark-o {
	display: none;
}
#age {
	margin-left:10px;
	margin-right:10px;
	color: gray;
}
#location {
	color:gray;
}
.fa-mars {
	color:#1269FA;
}
.fa-venus {
	color:#F7005E;
}
#minimize {
	display: none;
}
#questionMin {
	position: absolute;
	left:0;
	top:50px; /* displacement from navbar */
	width: 100%;
	text-align: center;
	line-height: 50px;
	font-size: 1.5em;
	z-index:4; 
}
#questionMin > span {
	display: none;
	float: right;
	margin-right:25px;
	color:#ffd700;
}
#answersMin {
	position: absolute;
	display: table;
	table-layout: fixed;
	left:0;
	top:100px; /* displacement from navbar and questionMin */
	width: 100%;
	text-align: center;
	line-height: 40px; 
	font-size: 1.25em;
	z-index: ;
	overflow: scroll;
	z-index:4;
}
#answersMin > div {
	display: table-cell;
	width:10px;
	overflow: scroll;
	padding-left:10px;
	padding-right: 10px;
}
/* nested div required for max-height within table cell */
#answersMin > div > div {
	max-height: 40px;
	overflow: scroll;
	white-space: nowrap;
}
#answersMin > div:first-child {
	background: #F68E55;
}
#answersMin > div:nth-child(2) {
	background: #3BB878;
}
#answersMin > div:nth-child(3) {
	background: #00BFF3;
}
#answersMin > div:nth-child(4) {
	background: #855FA8;
}
#answersMin > div:nth-child(5) {
	background: #F06EA9;
}
#dataViews {
	position: absolute;
	display: table;
	top: 10px;
	width: 50%;
	left: 25%;
	text-align: center;
	line-height: 30px; 
	font-size: 0.5em;
	border-spacing: 10px;
	z-index: 1;
}

#dataViews > span {
	display: table-cell;
	color:#7D26CD;
	border:solid #7D26CD 1px;
	background: #f7f7f7;
	border-radius: 5px;
	width:20%;
	cursor: pointer;
}

#dataViews > span:hover {
	background: #7D26CD;
	color: white;
}
.selected {
	background: #7D26CD !important;
	color: white !important;
}
#clickToAsk {
	bottom:0;
	opacity: 0.5;
	background: #7D26CD;
	color: white;
	line-height: 50px;
	cursor: pointer;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
}
#clickToAsk:hover {
	opacity: 1;
}
.changeQ {
	position: absolute;
	top:50%;
	margin-top:-75px;
	width:1em;
	text-align: center;
	font-size: 1em;
	opacity: 0.5;
	color:#7D26CD;
	cursor: pointer;
	width:50px;

}
.changeQ:hover {
	opacity: 1;
}
#navLeft {
	display: none;
	left: 10px;
}
#navRight {
	display: none;
	right:10px;
}

svg {
	color:red;
}

/* media queries */
@media (max-width: 870px) {
	#card {
		position: absolute;
		top:50vh;
		left:0vw;
		right:0vw;
		border: none;
		width:100vw;
		height:70vh;
		margin-left:0;
		margin-top:-35vh;
		text-align: center;
		font-size:2em;
		border-radius: 10px;
	}
	#data {
		position: absolute;
		left:0;
		width:100vw;
		margin-left: 0;
	}
	#navLeft {
		display: none;
	}
	#navRight {
		display: none;
	}
	#locToggle {
		width: 50%;		
	}
	#logo {
		display: none !important;
	}
	#gender,#age,#location {
		display: none !important;
	}
	#userInfo {
		width:50%;
	}
	#myName {
		display: none;
	}
}

@media (max-width: 750px) {
	#facebookButton {
		position: absolute;
		left:50%;
		margin-left:-200px;

		width:400px;
		line-height:2em;
		font-size:0.35em;

	}
}